<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ADLINK Zenoh Testing</title>
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/templatemo-style.css') }}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  </head>
  <body>
    <h1> ADLINK Zenoh </h1>
    <p> Zenoh Data </p>
        <div style="width:500px;height:400px">
            <canvas id="canvasLine"></canvas>
        </div>
    <script src='../static/js/plot.js'></script>
  </body>
</html>